<a href="https://colab.research.google.com/github/marifer1303/Optativa-Profesionalizante/blob/main/Operaciones_Basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTAR LIBRERIAS**

In [ ]:
import pandas as pd

**CREAR DATAFRAME CON 4 VARIABLES**

In [ ]:
df = pd.DataFrame({
    'Nombre': ['Ana', 'Juan', 'María', 'Carlos', 'Sofia'],
    'Edad': [25, 30, 22, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Valencia', 'Barcelona'],
    'Puntuacion': [85, 92, 78, 95, 88]
})
print("DataFrameoriginal:")
print(df)

DataFrameoriginal:
   Nombre  Edad     Ciudad  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   María    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

**FILTRADO**

In [ ]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas mayores de 25 años:")
print(mayores_25)

Personas mayores de 25 años:
   Nombre  Edad     Ciudad  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

**AGRUPACION Y AGREGACION**

In [ ]:
resultado = df[df['Edad'] > 25].groupby('Ciudad')['Puntuacion'].max()
print("\nMaxima puntuacion por ciudad para personas mayores de 25 años:")
print(resultado)

Maxima puntuacion por ciudad para personas mayores de 25 años:
Ciudad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64