<a href="https://colab.research.google.com/github/marifer1303/Optativa-Profesionalizante/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***Tipos de uniones(joins) en Python***

In [9]:
import pandas as pd

#***Hacer un data frame***

In [10]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Juan', 'María', 'Carlos', 'Ana'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000, 55000, 65000]
})
print("DataFrame1:")
print(df1)
print("\nDataFrame2:")
print(df2)

DataFrame1:
   ID  Nombre Departamento
0   1    Juan       Ventas
1   2   María           IT
2   3  Carlos    Marketing
3   4     Ana           RH

DataFrame2:
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

Funsion inner

In [13]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print("\nFusión inner:")
print(inner_merge)

Fusión inner:
   ID  Nombre Departamento  Salario
0   3  Carlos    Marketing    50000
1   4     Ana           RH    60000

#***Funcion outer***

In [14]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print("\nFusión outer:")
print(outer_merge)

Fusión outer:
   ID  Nombre Departamento  Salario
0   1    Juan       Ventas      NaN
1   2   María           IT      NaN
2   3  Carlos    Marketing  50000.0
3   4     Ana           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

funcion left

In [16]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print("\nFusión left:")
print(left_merge)

Fusión left:
   ID  Salario  Nombre Departamento
0   3    50000  Carlos    Marketing
1   4    60000     Ana           RH
2   5    55000     NaN          NaN
3   6    65000     NaN          NaN

Fusion right

In [17]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print("\nFusión right:")
print(right_merge)

Fusión right:
   ID  Nombre Departamento  Salario
0   3  Carlos    Marketing    50000
1   4     Ana           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

concatenacion

In [18]:
#concatenacion
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Nombre': ['Sofía', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas']
})
concatenated = pd.concat([df1, df3])
print("\nConcatenación de DataFrames:")
print(concatenated)

Concatenación de DataFrames:
   ID  Nombre Departamento
0   1    Juan       Ventas
1   2   María           IT
2   3  Carlos    Marketing
3   4     Ana           RH
0   7   Sofía     Finanzas
1   8   Pedro       Ventas

In [19]:
concatenated = pd.concat([df2, df3])
print("\nConcatenación de DataFrames:")
print(concatenated)

Concatenación de DataFrames:
   ID  Salario Nombre Departamento
0   3  50000.0    NaN          NaN
1   4  60000.0    NaN          NaN
2   5  55000.0    NaN          NaN
3   6  65000.0    NaN          NaN
0   7      NaN  Sofía     Finanzas
1   8      NaN  Pedro       Ventas